# EditorConfig configuration file

# Set as top-most config file
root = true

# Set for every file
[*]
end_of_line = lf
insert_final_newline = true

# Set indentation for Golang file
[*.go]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
